

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.list {
    list-style: none;
    a

{
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 15px 5%;
    transform-origin: 50% 50%;
}

}

.list-vertical {
    width: 19%;
    margin: 15px 3%;
}

.list-horizontal {
    width: 38%;
    margin: 15px 3%;
    li

{
    float: left;
    width: 20%;
    text-align: center;
}

}

.list-hover-zoom-tilt {
    background: #0b090a;
    a

{
    color: #8ad0bd;
    background: #2b2529;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    &:hover

{
    background: #584b54;
    transform: scale(1.4) translate(15px, 0) perspective(700px) rotateY(30deg);
    box-shadow: 0 3px 5px 0 rgba(33,33,33,0.2), -4px 0 5px 0 rgba(33,33,33,0.3), 0 0 0 1px rgba(33,33,33,0.4), inset -5px 0 5px 0 rgba(33,33,33,0.5);
}

&:active {
    transform: scale(1.3) translate(10px, 0) rotateY(27deg);
}

}
}

.list-zoom {
    a

{
    color: #2b2529;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    &:hover

{
    background: #f6f4f5;
    transform: scale(1.2) translate(15px, 0);
    box-shadow: 0 0 4px 0 rgba(33,33,33,0.2);
}

&:active {
    transform: scale(1.1) translate(9px, 0);
    box-shadow: inset 0 0 3px 0 rgba(33,33,33,0.1);
}

}
}

